/* CSS Variables */
:root {
  --bg-dark: hsl(0, 0%, 5%);
  --bg-medium: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 15%);

  --primary-light: hsl(160, 84%, 40%);
  --primary-medium: hsl(160, 84%, 35%);
  --primary-dark: hsl(160, 84%, 25%);
  --primary-danger: hsl(0, 75%, 40%);

  --text-light: hsl(0, 0%, 90%);
  --text-medium: hsl(0, 0%, 80%);
  --text-dark: hsl(0, 0%, 70%);

  --card-shadow: inset 0 1px hsla(0, 0%, 100%, 0.2),
    0 5px 5px rgba(0, 0, 0, 0.8);

  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.3rem;
  --font-size-small: 1.1rem;
  --font-size-x-small: 1rem;
}

/* Resets*/
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* stop horizontal scrolling */
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, var(--bg-dark), var(--bg-medium));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-primary {
  text-decoration: none;
  background: var(--primary-dark);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: var(--font-size-small);
  border: none;
  box-shadow: 0 5px 5px var(--bg-dark);
  transition: transform 0.3s ease;
}

.button-primary:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1px 5px var(--bg-dark);
}

.button-danger {
  text-decoration: none;
  background: var(--primary-danger);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: var(--font-size-small);
  border: none;
  box-shadow: 0 5px 5px var(--bg-dark);
  transition: transform 0.3s ease;
}

.button-danger:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1px 5px var(--bg-dark);
}

.button-cancel {
  text-decoration: none;
  background: var(--primary-medium);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: var(--font-size-small);
  border: none;
  box-shadow: 0 5px 5px var(--bg-dark);
  transition: transform 0.3s ease;
}

.button-cancel:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1px 5px var(--bg-dark);
}

.suhba-title {
  color: var(--primary-medium);
}

.login-page {
  padding: 3rem 4rem 4rem 2rem;
}

.login-form {
  width: 27rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-medium);
  color: var(--text-medium);
  font-weight: 600;
  font-size: var(--font-size-small);
  letter-spacing: 0.5px;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.login-form-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-light);
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.login-form input {
  background-color: var(--text-medium);
}

.login-form-button-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-title {
  color: var(--text-medium);
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px;
}

.login-page-text {
  margin-top: 2rem;
  padding: 0 2rem 0 1rem;
  text-align: justify;
  color: var(--text-medium);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.3;
}

.navbar {
  background-color: var(--bg-medium);
  box-shadow: var(--card-shadow);
}

.suhba-navbar-title {
  color: var(--primary-medium);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.my-nav-item {
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  text-decoration: none;
  font-weight: 500;
}

.my-nav-item.not-active {
  color: var(--text-medium);
  background-color: transparent;
}

.my-nav-item.active {
  color: var(--primary-light);
  background-color: var(--bg-light);
}

.plans-grid {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  justify-content: space-between;
}

.plan-card {
  padding: 0.5rem 0 0.5rem 0;
  margin-bottom: 2rem;
  height: 470px;
  width: 400px;
  background-color: var(--bg-medium);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  display: flex;
  align-items: left;
  flex-direction: column;
  flex: 1;
  transition: transform 0.3s ease-in-out;
}

.plan-card:hover {
  border: 0.1rem solid var(--primary-dark);
}

.plan-card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-light);
  text-decoration: none;
  margin: -0.5rem 0 0.7rem 0;
  font-size: var(--font-size-large);
  font-weight: bold;
}

.plan-card-body-with-img {
  padding: 0 1.5rem 0 1.5rem;
}

.plan-card-body {
  padding: 2.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.plan-card-meta-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.plan-card-meta {
  display: flex;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plan-card-meta svg {
  fill: var(--primary-light);
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.plan-card-text {
  color: var(--text-dark);
  font-size: var(--font-size-xsmall);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
}

.plan-card-text.has-img {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.plan-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-card img {
  margin: 0.5rem;
  width: 19rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--bg-medium);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-plan-form {
  background: var(--bg-medium);
  color: var(--text-medium);
  font-size: var(--font-size-xsmall);
  letter-spacing: 0.5px;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  padding: 1rem;
  border-radius: 12px;
}

.add-plan-form-header {
  color: var(--text-light);
  text-align: center;
  font-size: var(--font-size-large);
  font-weight: 700;
}

.add-plan-form input {
  background-color: var(--text-medium);
  margin: 0;
}

.user-details-container {
  height: 470px;
  width: 400px;
  font-size: var(--font-size-large);
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 2rem;
  align-items: left;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-details-container p {
  padding: 0 1rem 0 1rem;
  margin: 0.5rem;
}

.plan-details-container {
  background-color: rgba(215, 241, 219, 0.314);
  padding: 1rem;
  margin: 0 auto 2rem auto;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 100%;
}

.plan-details-container-img {
  margin-bottom: 24px;
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.plan-details-title {
  font-size: 2.5rem;
  text-align: center;
  color: #262626;
}

.plan-details-description {
  font-size: 2rem;
}

.plan-details-meta {
  font-size: 1rem;
}

.plan-details-description,
.plan-details-meta {
  text-align: left;
}

.plan-details-description,
.plan-details-meta {
  font-family: Arial, Helvetica, sans-serif;
  color: #292e28;
}

.account-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.account-page-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.account-container {
  background-color: var(--bg-medium);
  color: var(--text-light);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
}

.account-container-title {
  font-size: var(--font-size-large);
  color: var(--text-light);
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

.account-container input {
  background-color: var(--text-medium);  
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.account-header-img {
  fill: var(--primary-light);
  background-color: var(--bg-light);
  padding: 0.2rem;
  box-shadow: var(--card-shadow);
  border-radius: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.account-header-title {
  font-size: var(--font-size-xlarge);
  color: var(--text-light);
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
}

.account-header-text-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.account-header-text {
  font-size: var(--font-size-small);
  color: var(--text-dark);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 1.6rem;
}


.friends-list {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 0 1rem 0 1rem;
}

.friend-item {
  background-color: var(--bg-light);
  color: var(--text-light);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--bg-light);
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--font-size-medium);
  transition: transform 0.3s ease-in-out;
  display: block;
}

.friend-item:hover {
  transform: translateY(-1px);
  border: 0.1rem solid var(--primary-dark);
}

.requests-list {
  flex-direction: column;
  overflow-y: hidden;
  padding: 0 1rem 1rem 1rem;
}

.requests-item {
  background-color: var(--bg-light);
  color: var(--text-light);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--bg-light);
  border-radius: 0.3rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-medium);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requests-item:hover {
  transform: translateY(-1px);
  border: 0.1rem solid var(--primary-dark);
}

.requests-item-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.logout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.logout-container {
  background-color: var(--bg-medium);
  color: var(--text-light);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 5px var(--bg-dark);
}

.logout-title {
  color: var(--text-light);
  font-size: var(--font-size-large);
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

.logout-body {
  text-align: center;
  margin-top: 1rem;
  color: var(--text-medium);
  font-size: var(--font-size-medium);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.logout-footer {
  padding: 14px 20px;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 12px;
}
